@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-size: 15px;
  color: #222;
  text-shadow: 1px 1px 0px #fff;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: 'Open Sans';
  margin: 5px 0px;
  text-transform: lowercase;
  letter-spacing: -1px;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 64px;
}

h2 {
  font-size: 25px;
  line-height: 41px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

a {
  color: #444;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #888;
}

pre, blockquote {
  border-left: 1px solid #ccc;
  margin: 0 0 20px 30px;
  padding-left: 20px;
  font-family: Monaco, monospace;
}

.align-center {
  text-align: center;
}

.inner {
  padding: 21px;
}

aside#topbar {
  background-color: #3b3c40;
  text-shadow: none;
  color: #e4e4ea;
  box-shadow: 0px 0px 6px #777;
  padding-bottom: 10px;
}

aside#topbar .more {
  display: none;
}

aside#topbar ul#quick-links {
  list-style: none;
  float: right;
  margin: 5px 0 0 0;
}

aside#topbar ul#quick-links li {
  display: inline;
  border: none;
}

aside#topbar ul#quick-links li:after {
  content: " | ";
  padding: 0px 3px;
}

aside#topbar ul#quick-links li:last-child:after {
  content: "";
}

aside#topbar a {
  color: #e4e4ea;
}

aside#topbar a:hover {
  color: #888;
}

aside#topbar h1 {
  color: #f2c572;
  margin: 0px;
  line-height: 24px;
  float: left;
}

aside#topbar h1 a {
  color: inherit;
  font-weight: inherit;
}

aside#topbar h2 {
  color: #ece7d3;
  font-size: 19px;
}

aside#topbar ul {
  padding-left: 15px;
  list-style: none;
}

aside#topbar ul li {
  border-bottom: 1px solid #47484d;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

aside#topbar ul li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

article {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin: 40px 0 20px 0;
}

article#single {
  margin-top: 0px;
}

article:first-child {
  margin-top: 0px;
}

article header h1 {
  font-weight: bold;
  margin-left: -2px;
}

article header time, #archive li time {
  color: #888;
}

#home ul.posts {
  list-style: none;
}

#home ul.posts > li {
  margin-bottom: 30px;
}

#pagination {
  margin: 30px;
  text-align: center;
}

#pagination a {
  padding: 0px 10px;
}

footer {
  margin-top: 100px;
  text-align: center;
  color: #666;
  font-size: 13px;
}

footer a {
  color: #888;
}

footer a:hover {
  color: #aaa;
}

ul#archive {
  list-style: none;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin: 40px 0 20px 0;
}

ul#archive time {
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  aside#topbar .inner {
    padding: 10px 30px;
  }

  aside#topbar h1 {
    margin-bottom: 10px;
  }

  aside#topbar h2, aside#topbar #tagline, aside#topbar #contact-me, aside#topbar ul#recent-posts {
    display: none;
  }

  section#container .inner {
    padding: 10px;
  }
}