---
layout: default
title: Hans Engel
---

<div id="home">
  {% for post in paginator.posts %}
  <article>
    <header>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: '%d %B %Y' }}
      </time>
    </header>

    {{ post.content | split: '<!-- more -->' | first }}
  </article>
  {% endfor %}

  <div id="pagination">
    {% if paginator.page > 1 %}
    <a href="/page{{ paginator.previous_page }}">&laquo; previous</a>
    {% endif %}

    {% if paginator.page < paginator.total_pages %}
    <a href="/page{{ paginator.next_page }}">next &raquo;</a>
    {% endif %}
  </div>
</div>
