---
layout: default
---

{% if page.image %}
<section id="single-image">
  <img src="{{ page.image }}" alt="{{ page.image_alt }}" />
</section>
{% endif %}

<article id="single" class="hentry">
  <header class="inner">
    <h1 class="entry-title">
      {% if page.display_title %}
        {{ page.display_title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: '%d %B %Y' }}
    </time>
  </header>

  <div class="entry-content">
    {{ content }}
  </div>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqusLoaded = false;
  window.onscroll = function() {
    if ( disqusLoaded ) return;

    disqusLoaded = true;
    window.onscroll = null;

    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://foldl.disqus.com/embed.js';
    document.body.appendChild(dsq);
  };
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% if page.mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script type="text/javascript" charset="utf-8" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
{% endif %}
